# Django
*.pyc
__pycache__/
db.sqlite3
/media/
/static/
.env
venv/
*.sqlite3
*.log
*.pot
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.bak
*.swp
*.swo
.idea/
.vscode/
.DS_Store
.env.*
node_modules/
*.tgz
npm-debug.log
coverage/
htmlcov/
*.cover
*.py,cover
.cache
.tox/
.mypy_cache/
.pytest_cache/
celerybeat-schedule
celerybeat.pid
*.pid
